In [2]:
import tensorflow as tf
import matplotlib.pyplot as plt

In [3]:
import pymysql

In [5]:
db = pymysql.connect(host='ptdata.ceiotvbr944v.ap-northeast-2.rds.amazonaws.com', port = 3306, user = 'mypt', passwd = '12345678', db = 'mypt', charset = 'utf8')

In [6]:
db

In [7]:
cursor = db.cursor()

In [8]:
cursor

In [18]:
user_sql = "SELECT * FROM users"
cursor.execute(user_sql)
result = cursor.fetchall()
for user_data in result:
    print(user_data[0])
    print(user_data[1])
    print(user_data[2])
    print(user_data[3])
    print(user_data[4])
    print(user_data[5])
    print(user_data[6])

dbehdgns118
123456
유동훈
180.0
55.0
0

feelwjd
123456
민정필
172.0
70.0
0

jasonoh22
123456
오제민
175.0
0.0
0

testgirl
123456
testgirl
155.0
43.6
1

In [26]:
import requests
import pandas as pd

In [33]:
user_res = requests.get("http://ec2-3-34-96-177.ap-northeast-2.compute.amazonaws.com:3000/user").text
df_user = pd.read_json(user_res)
df_user

        userid      pw  username  height  weight  sex image
0  dbehdgns118  123456       유동훈     180    55.0    0
1      feelwjd  123456       민정필     172    70.0    0
2    jasonoh22  123456       오제민     175     0.0    0
3     testgirl  123456  testgirl     155    43.6    1

In [34]:
workout_res = requests.get("http://ec2-3-34-96-177.ap-northeast-2.compute.amazonaws.com:3000/workout").text
df_workout = pd.read_json(workout_res)
df_workout

     workoutid part     workoutname  class
0            1  유산소             싸이클      1
1            2  유산소         엘립티컬 머신      1
2            3  유산소         트레드밀 러닝      1
3            4  유산소              러닝      0
4            5  유산소              버피      0
..         ...  ...             ...    ...
294        295  전완근      리스트 컬 (덤벨)      0
295        296  전완근      리스트 컬 (바벨)      1
296        297  전완근          리스트 롤러      1
297        298  전완근  리버스 리스트 컬 (바벨)      1
298        299  전완근  리버스 리스트 컬 (덤벨)      0

[299 rows x 4 columns]

In [35]:
routine_res = requests.get("http://ec2-3-34-96-177.ap-northeast-2.compute.amazonaws.com:3000/routine").text
df_routine = pd.read_json(routine_res)
df_routine

   routineid        routinename  description
0          1  feelwjd's routine  description

In [38]:
import numpy as np
tensor = tf.constant(df_workout)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).